@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@100;200;300;400;600&display=swap");

/****** Custom variables *******/

:root {
  --clr-accent: #2b9226;
  --my_white: #f0f4ff;
  --my_black: #333;
  --my_gradient: linear-gradient(0deg, #fff1be, #f9fff0);
  --my_gradient2: linear-gradient(to top, #fda085, #f6d365);
  --swiper-theme-color: #ffffff;
  --primary: #ff5522;
  --secondary: #161421;
  --tertiary: #191725;
  --quarternary: #1f1c2c;
}

/* CSS RESET */

*,
::after,
::before {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  font-size: 1.3rem;
  font-family: "Source Sans Pro", sans-serif;
  color: var(--my_black);
  background: var(--my_white);
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Utilities */

.container {
  width: min(1200px, 100% - 2rem);
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.btn {
  display: block;
  border: none;
  font-weight: bold;
  background-color: var(--primary);
  color: white;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  width: fit-content;
  box-shadow: 0 1.125em 1em -1em var(--clr-accent);
  cursor: pointer;
}

.btn:hover,
.btn:focus-visible {
  background-color: var(--clr-accent);
  box-shadow: none;
}

.main-heading {
  text-align: center;
  font-size: 2rem;
  margin: 0 33% 20px;
  padding: 0.2em;
  border-bottom: 2px solid;
}

/* Header  */

header {
  position: fixed;
  width: 100%;
  transition: all 0.3s ease 0s;
  z-index: 10;
  background: #ffffff;
  box-shadow: rgb(0 0 0 / 30%) 0 2px 20px;
}

.sticky {
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 5px 0px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo span {
  color: var(--primary);
}

nav ul {
  display: flex;
  gap: 1rem;
}

.nav-list {
  padding: 1rem 0;
  transition: all 0.5s ease-in-out;
  position: relative;
}

.nav-list::after {
  content: "";
  display: block;
  margin: auto;
  margin-top: 0.25rem;
  height: 3px;
  width: 0px;
  border-radius: 10px;
  background: transparent;
  transition: all 0.7s ease;
}

.nav-list:hover::after {
  width: 99%;
  background: var(--primary);
}

.about-list,
.works-list {
  position: relative;
}

.dropdown-menu {
  padding: 1rem;
  padding-top: 0.5rem;
  gap: 0;
  font-size: 0.5rem;
  width: 12rem;
  border-radius: 5px;
  color: rgb(45, 45, 45);
  background-color: white;
  position: absolute;
  top: 4.2rem;
  left: -4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  display: none;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 40%);
}

.dropdown-menu span {
  font-size: 0.9rem;
  font-weight: 400;
}

.dropdown-menu li {
  transition: all 0.2s ease;
}

.dropdown-menu li:hover {
  color: var(--primary);
}

.down-toggle {
  transition: all 0.3s ease;
  font-size: 0.75rem;
  opacity: 0.5;
}

.dm-lists:hover .down-toggle {
  transform: rotate(-180deg);
}

.about-list:hover .dm-1 {
  display: flex;
}

.works-list:hover .dm-2 {
  display: flex;
}

.works-list ul {
  display: none;
}

nav li {
  cursor: pointer;
  font-size: 1.3rem;
}

nav ul li a {
  font-weight: 600;
}

nav ul li i {
  font-size: 1rem;
}

.hamburger-menu {
  position: relative;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  margin: 1em;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
}

.hamburger-menu .bar {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: black;
  border-radius: 3px;
  transition: all 0.5s ease 0s;
}

.bar::before,
.bar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 3px;
  transition: all 0.5s ease 0s;
}

.bar::before {
  transform: translateY(-8px);
}

.bar::after {
  transform: translateY(8px);
}

header.active .hamburger-menu .bar {
  background-color: transparent;
}

header.active .bar::before {
  transform: translateY(0px) rotate(-45deg);
}

header.active .bar::after {
  transform: translateY(0px) rotate(45deg);
}

/* slider section */

.slider-section {
  margin-inline: auto;
  padding-top: 1.6rem;
  margin-bottom: -2rem;
}

.swiper-slide {
  background: var(--my_gradient);
  height: 100vh !important;
}

.slide-1 {
  background: url(/images/Banner-Pic_home-page-1.jpg) center center/cover;
}

.slide-2 {
  background: url(/images/Banner-Pic_home-page-2.jpeg) center center/cover;
}

.slide-3 {
  background: url(/images/Banner-Pic_home-page-3.jpg) center center/cover;
}

.slide-4 {
  background: url(/images/Banner-Pic_home-page-4.jpeg) center center/cover;
}

.slide-5 {
  background: url(/images/Banner-Pic_home-page-5.jpg) center center/cover;
}

.swipo {
  overflow: hidden;
}

.swiper-pagination {
  margin-top: -2rem;
  position: relative;
  top: -3rem;
  font-size: 2rem;
}

.swiper-button-next,
.swiper-button-prev {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.5) !important;
}

/* Welcome section */

.welcome {
  background-color: white;
  margin: 0 auto 1rem;
  color: black;
  padding-block: 2rem;
}

.text-content {
  max-width: 38rem;
  font-size: 1.3rem;
}

.text-content p {
  margin-bottom: 0.5rem;
}

.welcome img {
  width: min(37rem, 100%);
}

/* Photo gallery */

.photo-gallery {
  margin-block: 4rem;
}

.photo-gallery .container {
  flex-wrap: wrap;
  justify-content: center;
}

.photo-gallery .img {
  margin: 0.5rem;
  padding: 0.3rem;
  border-radius: 0.4rem;
  background: var(--my_gradient2);
  overflow: hidden;
  flex: 1 1 15rem;
  aspect-ratio: 16/9;
}

.img:hover img {
  transform: scale(1.1);
  filter: brightness(1.2);
  filter: contrast(1.2);
}

.photo-gallery img {
  transition: 0.35s linear;
  border-radius: 0.4rem;
  filter: brightness(0.7);
  width: 100%;
}

/* Programme section */

.programme-section {
  padding-block: 2rem 4rem;
  background: url(/images/card-bg.jpg) center center/cover;
  background-attachment: fixed;
  position: relative;
}

.programme-section .main-heading {
  color: white;
  z-index: 2;
  position: relative;
}

.card-img {
  height: 15rem;
  overflow: hidden;
}

.programme-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #00000096;
}

.programme-section .container {
  align-items: normal;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1 1 16rem;
  border-radius: 0.4rem;
  margin: 0.5rem;
  background-size: cover;
  z-index: 1;
  background-color: #f0f4ff;
  overflow: hidden;
}

.card img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  transition: 0.3s linear;
}

.card:hover {
  cursor: pointer;
}

.card:hover.card img {
  scale: 1.1;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1rem;
  flex: 1;
  text-align: center;
}

.card-header {
  font-size: 1.5rem;
}

.programme-section .btn {
  margin-top: 0.5rem;
  margin-inline: auto;
}

/* footer */

footer {
  color: gray;
  font-weight: 300;
  line-height: 1rem;
  font-size: 1rem;
}

footer a {
  color: gray;
}

.f-top {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ft-left {
  background-color: var(--tertiary);
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  min-width: 10rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.ft-left h4 {
  font-weight: 400;
  line-height: 1.4rem;
  text-transform: uppercase;
  color: var(--primary);
}

.ft-right {
  background-color: var(--quarternary);
  padding: 2rem 1.5rem 0.5rem 1.5rem;
  min-width: 20rem;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ft-right h3 {
  margin-bottom: 1.25rem;
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--primary);
  position: relative;
}

.ft-right h3::before {
  content: "";
  position: absolute;
  top: 1.6rem;
  left: 0;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: var(--primary);
}

.ft-right h3::after {
  content: "";
  position: absolute;
  top: 1.75rem;
  left: 1rem;
  width: 6rem;
  height: 0.1rem;
  border-radius: 15rem;
  background-color: gray;
}

.ft-right a {
  margin: 0.35rem;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.ft-right a:hover {
  transform: translateX(0.5rem);
}

.ftr-boxes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 11rem;
  margin-bottom: 1rem;
}

.ftl {
  display: flex;
  justify-content: flex-start;
}

.ftl a {
  transition: all 0.5s ease;
}

.ftl a:hover {
  color: var(--primary);
}

.ftl-logo span {
  font-size: 2rem;
  color: var(--primary);
  font-weight: bold;
  margin-bottom: 1rem;
}

.ftl-icon {
  padding: 0.5rem;
  border: 1px solid gray;
  border-radius: 9px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  max-height: 2.3rem;
  transition: all 0.5s ease;
}

.ftl-icon i {
  color: gray;
  transition: all 0.5s ease;
}

.ftl-icon:hover {
  border-color: #cacaca;
}

.ftl-icon:hover .fa-solid {
  color: #cacaca;
}

.ftl-text p {
  line-height: 1.3rem;
}

footer .f-bottom {
  background-color: var(--secondary);
  color: white;
  padding: 1rem;
}

footer .f-bottom p {
  text-align: center;
  color: gray;
}

/* Media Queries */

@media (max-width: 1230px) {
  .welcome .container {
    justify-content: center;
  }

  .text-content {
    max-width: 90%;
  }
}

@media (max-width: 1185px) {
  .container {
    justify-content: center;
  }

  header>.container {
    justify-content: space-between;
  }
}

@media (max-width: 1000px) {
  .logo {
    margin-left: 5vw;
  }

  .hamburger-menu {
    display: flex;
  }

  .menu-list {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    right: -125%;
    top: 0px;
    padding: 4rem;
    text-align: center;
    background: var(--my_gradient);
    transition: all 0.5s ease 0s;
  }

  header.active .menu-list {
    right: 0%;
  }

  .donate-box {
    position: fixed;
    width: 100%;
    justify-content: center;
    max-width: 400px;
    bottom: 0px;
    display: flex;
    right: -125%;
    transition: all 0.5s ease 0s;
  }

  .donate-box a {
    margin: 1rem 0.5rem 6rem;
    font-size: 1.8rem;
  }

  header.active .donate-box {
    right: 0px;
  }

  .menu-list li {
    margin-top: 2rem;
  }

  .menu-list li a {
    font-size: 23px;
    margin-left: -100%;
  }

  header.active .menu-list li a {
    margin-left: 0px;
  }

  header.active ul {
    flex-direction: column;
  }

  header .container {
    justify-content: space-between;
  }

  .main-heading {
    margin: 0 25% 20px;
  }
}

@media (max-width: 800px) {
  .f-top {
    flex-direction: column;
  }

  .ft-left {
    width: 100%;
  }

  .ft-right {
    width: 100%;
    justify-content: space-around;
  }
}

@media (max-width: 550px) {
  .ft-right {
    justify-content: space-around;
  }

  h2 {
    font-size: 2.25rem;
  }

  .hamburger-menu {
    margin: 0.25rem;
  }

  header h1 {
    font-size: 1.8em;
  }

  .logo {
    margin-left: 0px;
  }

  .main-heading {
    margin: 0 13% 20px;
  }

  .photo-gallery {
    margin: 0;
    padding-bottom: 2.5rem;
  }

  .photo-gallery img {
    width: 25rem;
  }
}

@media (max-width: 400px) {
  .ft-right {
    justify-content: flex-start;
  }

  .ftr-boxes {
    margin-left: 1.5rem;
  }

}