/* Header */

.main-heading {
  padding-top: 7rem;
  font-size: 1.5rem;
}

.main-heading::before {
  top: 12rem;
}

/* Main section */

main .container {
  display: block;
}

.container p,
.text-content h2,
.container h2 {
  margin: 1rem 0;
}

/* Strategy */

.d-flex img {
  width: min(34rem, 100%);
  border-radius: 0.5rem;
}

.d-block {
  display: block;
  margin: 0rem 1rem;
}

/* Footer */

footer {
  margin-top: 2rem;
}

/* Table */

table,
th,
td {
  border: 2px solid #e2a701;
  border-collapse: collapse;
  padding: 0.5rem;
  text-align: center;
}

table {
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  width: 85%;
}

th {
  background: #f7d5a2;
}

td {
  background: #ffe9ce;
}

/* Utility Section */

.round-list {
  list-style: circle;
  margin-left: 1rem;
}

.bold {
  font-weight: bold;
}

.d-flex {
  display: flex !important;
  justify-content: space-between;
  margin: 0 auto;
}

@media (max-width: 1230px) {
  .text-content {
    max-width: 44%;
  }
}

@media (max-width: 1000px) {
  .text-content {
    max-width: 100%;
    margin: 0 auto;
  }

  .d-flex {
    justify-content: center;
  }

  .container {
    padding-inline: 0.5rem;
  }
}
