/* Header */

.main-heading {
  padding-top: 7rem;
  font-size: 1.5rem;
}

.main-heading::before {
  top: 12rem;
}

/* Main section */

main .container {
  display: block;
}

.container p,
.text-content h2,
.container h2 {
  margin: 1rem 0;
}


/* Footer */

footer {
  margin-top: 2rem;
}

.classy-header {
  margin-bottom: 1.25rem;
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--primary);
  position: relative;
}

.classy-header::before {
  content: "";
  position: absolute;
  top: 1.85rem;
  left: 0.1rem;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: var(--primary);
}

.classy-header::after {
  content: "";
  position: absolute;
  top: 2rem;
  left: 1rem;
  width: 68%;
  height: 0.1rem;
  border-radius: 15rem;
  background-color: gray;
}

/* Table */

.table-container {
  width: max(30rem, 90%);
  overflow-x: auto;
  padding: 0.5rem;
  margin: 0 auto;
}

table,
tbody {
  border: 2px solid #ff8a67;
  border-radius: 0.5rem;
}

table,
th,
td {
  border: 2px solid #ff8a67;
  border-collapse: collapse;
  padding: 0.5rem;
  text-align: center;
}

table {
  margin: auto;
  border-radius: 10px;
  width: 85%;
}

th {
  background: #ffcfaf;
}

td {
  background: #ffe5d0;
}


/* Utility Section */


main li {
  list-style: disc;
  margin-left: 2rem;
}

.d-flex {
  display: flex !important;
  justify-content: space-between;
  margin: 0 auto;
}

.d-flex img {
  width: min(22rem, 100%);
  height: min(22rem, 100%);
  border-radius: 0.5rem;
  margin-block: 1rem;
}

.d-block {
  display: block;
  margin: 0rem 1rem;
}

.os-img {
  margin: 2rem auto;
  mix-blend-mode: darken;
}

.text-content2 {
  width: 65%;
  margin-right: 1rem;
}

.bold {
  font-weight: bold;
}

@media (max-width:1230px) {

  .text-content {
    max-width: 44%;
  }

}

@media (max-width: 1120px) {
  .text-content2 {
    width: 100%;
    margin-right: 0rem;
  }

  .text-content3 {
    max-width: max(100%, 34rem);
  }

  .d-flex {
    justify-content: center;
  }
}

@media (max-width: 1000px) {
  .text-content {
    max-width: 100%;
    margin: 0 auto;
  }

  .container {
    padding-inline: 0.5rem;
  }
}

@media (max-width:550px) {
  .stylish-heading {
    font-size: 2.5rem;
  }

  .main-heading::before {
    top: 11rem;
    left: 47.5%;
  }

  .small-main-heading::before {
    top: 11rem;
    left: 42.7%;
  }

}

@media (max-width:500px) {
  .stylish-heading {
    font-size: 2.2rem;
  }
}

@media(max-width:400px) {
  .main-heading::before {
    left: 46.75%;
  }

  .stylish-heading {
    font-size: 2rem;
  }

}