/* Header */

.main-heading {
  padding-top: 7rem;
  font-size: 1.5rem;
}

.main-heading::before {
  top: 12rem;
}

/* Main section */

main .container {
  display: block;
}

.container p {
  margin: 1.25rem 0.5rem;
}

/* Strategy */


.d-flex img {
  width: min(24rem, 100%);
  height: min(24rem, 100%);
  border-radius: 0.5rem;
  filter: brightness(0.9);
  margin: 1.5rem 0.5rem;
}

.d-block {
  display: block;
  margin: 0rem 1rem;
}

/* Footer */

footer {
  margin-top: 2rem;
}

.classy-header {
  margin-bottom: 1.25rem;
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--primary);
  position: relative;
}

.classy-header::before {
  content: "";
  position: absolute;
  top: 1.85rem;
  left: 0.1rem;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: var(--primary);
}

.classy-header::after {
  content: "";
  position: absolute;
  top: 2rem;
  left: 1rem;
  width: 68%;
  height: 0.1rem;
  border-radius: 15rem;
  background-color: gray;
}

/* Table */

table,
th,
td {
  border: 2px solid #e2a701;
  border-collapse: collapse;
  padding: 0.5rem;
  text-align: center;
}

table {
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  width: 85%;
}

th {
  background: #f7d5a2;
}

td {
  background: #ffe9ce;
}

/* Utility Section */

.round-list {
  list-style: circle;
  margin-left: 2rem;
}

.bold {
  font-weight: bold;
}

.d-flex {
  display: flex !important;
  justify-content: space-between;
}

@media (max-width:1250px) {
  .d-flex {
    justify-content: space-around;
  }

  .text-content {
    max-width: 100%;
  }

}

@media (max-width:550px) {
  .stylish-heading {
    font-size: 2.5rem;
  }

  .main-heading::before {
    top: 11rem;
    left: 47.5%;
  }
}

@media (max-width:500px) {
  .stylish-heading {
    font-size: 2.2rem;
  }
}

@media(max-width:400px) {
  .stylish-heading {
    font-size: 2rem;
  }

  .main-heading::before {
    left: 46.75%;
  }
}