@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@100;200;300;400;600&display=swap");

/****** Custom variables *******/

:root {
  --my_white: #f0f4ff;
  --my_black: #333;
  --my_gradient: linear-gradient(0deg, #fff1be, #f9fff0);
  --my_gradient2: linear-gradient(to top, #fda085, #f6d365);
  --swiper-theme-color: #ffffff;
  --primary: #ff6537;
  --primary-dark: #ff5522;
  --primary-light: #ff7f58;
}

/* CSS RESET */

*,
::after,
::before {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  font-size: 1.3rem;
  font-family: "Source Sans Pro", sans-serif;
  color: var(--my_black);
  background: var(--my_white);
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(185, 185, 185);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-light);
  border-radius: 0.4rem;
}

/* Utilities */

.container {
  width: min(1200px, 100% - 2rem);
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.btn {
  display: block;
  border: none;
  font-weight: bold;
  background-color: var(--primary);
  color: white;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  width: fit-content;
  box-shadow: 0 1.125em 1em -1em var(--clr-accent);
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn:hover,
.btn:focus-visible {
  background-color: #60569a;
  box-shadow: none;
}

.rotate {
  transform: rotate(180deg);
}

.dfc {
  position: relative;
}

.index-main-heading {
  position: relative;
  text-align: center;
  font-size: 2rem;
  width: fit-content;
  margin: 0 auto 2rem;
  padding: 0.2em;
}

.mh-3 {
  color: white;
}

.index-main-heading::before {
  content: "";
  position: absolute;
  top: 5.1rem;
  left: 47.75%;
  width: 2rem;
  background-color: #f0f4ff;
  height: 0.9rem;
  border-radius: 0;
  z-index: 9;
}

.mh-1::before {
  background-color: white;
  left: 46.1%;
}

.mh-2::before {
  left: 46.1%;
}

.mh-3::before {
  content: "";
  position: absolute;
  top: 5.38rem;
  height: 0.35rem;
  border-radius: 10px;
  background-color: rgb(223, 223, 223);
  z-index: 8;
  width: 43%;
  left: 57%;
}

.mh-3 h2::after {
  width: 46.1%;
  left: 0;
  background-color: rgb(223, 223, 223);
}

.stylish-heading {
  position: relative;
}

.stylish-heading::before {
  content: "";
  position: absolute;
  top: 4.867rem;
  left: 50%;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: var(--primary-dark);
  z-index: 10;
}

.stylish-heading::after {
  content: "";
  position: absolute;
  top: 5rem;
  left: 0;
  width: 100%;
  height: 0.35rem;
  border-radius: 10px;
  background-color: rgba(185, 185, 185, 0.5);
  z-index: 8;
}

/* Header  */

header .container {
  height: 4.2rem;
  transition: 0.3s ease;
}

header.sticky .container {
  height: 3.6rem;
}

header {
  position: fixed;
  width: 100%;
  z-index: 20;
  background: #ffffff;
  box-shadow: rgb(0 0 0 / 30%) 0 2px 20px;
  line-height: 2;
  transition: all 0.3s ease 0s;
}

.logo {
  display: flex;
  align-items: center;
  width: 11rem;
  filter: saturate(2);
}

.logo span {
  color: var(--primary);
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.donate-box a {
  line-height: 1.6;
}

.main-menu {
  display: flex;
}

.main-menu li {
  position: relative;
}

.main-menu>li:not(.dropdown):after {
  content: "";
  display: block;
  margin: auto;
  margin-top: 0.25rem;
  height: 3px;
  width: 0px;
  border-radius: 10px;
  background: transparent;
  transition: all 0.7s ease;
}

.main-menu>li:hover::after {
  width: 99%;
  background: var(--primary);
}

.main-menu i {
  position: absolute;
  top: 1rem;
  right: 0px;
  color: #6e6e6e;
  font-size: 0.8rem;
  transition: 0.3s ease;
}

.main-menu>li>a {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1.25rem 0.5rem;
  margin-inline: 0.4rem;
}

.sub-menu {
  position: absolute;
  opacity: 0;
  width: 13rem;
  left: -3rem;
  transform: translateY(2rem);
  pointer-events: none;
  border-radius: 0 0 0.4rem 0.4rem;
  background-color: var(--my_white);
  transition: 0.3s ease-in;
  box-shadow: 0px 1px 3px rgb(0 0 0 / 40%);
}

.sub-menu a {
  display: block;
  font-size: 1rem;
  padding: 0.75rem;
  margin: 0.5rem;
  line-height: 0;
  border-bottom: 1px solid #9898988f;
}

.sub-menu a:hover {
  color: var(--primary-light);
}

.hover:hover .sub-menu {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}

.hover:hover i {
  transform: rotate(180deg);
}

.db {
  display: none;
}

/* menu-btn */

.menu-btn {
  display: none;
  width: 2.5rem;
}

.menu-btn:before,
.menu-btn:after,
.menu-btn div {
  background: #2a2a2a;
  content: "";
  display: block;
  height: 3px;
  border-radius: 3px;
  margin: 7px 0;
  transition: 0.5s;
}

header.active .menu-btn:before {
  transform: translateY(12px) rotate(135deg);
}

header.active .menu-btn:after {
  transform: translateY(-12px) rotate(-135deg);
}

header.active .menu-btn div {
  transform: scale(0);
}

/* slider section */

.slider-section {
  margin-inline: auto;
  padding-top: 1.6rem;
  margin-bottom: -2rem;
}

.swiper-slide {
  background: var(--my_gradient);
  height: 100vh !important;
}

.swiper-slide h2 {
  text-align: center;
  font-size: 3rem;
  width: 70%;
  margin: 15rem auto 0;
  color: white;
  text-shadow: rgb(0 0 0 / 90%) 2px 2px 2px;
  font-weight: 400;
}

.swiper-slide span {
  background-color: var(--primary-dark);
  padding: 0 0.5rem;
  font-weight: 600;
  line-height: 1.4;
  transform: skewX(-10deg);
  display: inline-block;
}

.slide-1 {
  background: url(/images/slider-1.webp) center center/cover;
}

.slide-2 {
  background: url(/images/slider-2.jpeg) center center/cover;
}

.slide-3 {
  background: url(/images/slider-3.jpg) center center/cover;
}

.slide-4 {
  background: url(/images/slider-4.jpg) center center/cover;
}

.slide-5 {
  filter: brightness(0.9);
  background: url(/images/slider-5.jpeg) center center/cover;
}

.swipo {
  overflow: hidden;
}

.swiper-pagination {
  margin-top: -2rem;
  position: relative;
  top: -3rem;
  font-size: 2rem;
}

.swiper-button-next,
.swiper-button-prev {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.5) !important;
}

/* about-section section */

.about-section {
  background-color: #fff;
  margin: 0 auto 1rem;
  color: black;
  padding-block: 2rem;
}

.text-content {
  max-width: 38rem;
  font-size: 1.3rem;
}

.text-content p {
  margin-bottom: 0.5rem;
}

.about-section img {
  width: min(37rem, 100%);
}

/* Photo gallery */

.photo-gallery {
  margin-block: 4rem;
}

.photo-gallery .container {
  flex-wrap: wrap;
  justify-content: center;
}

.photo-gallery .img {
  margin: 0.5rem;
  padding: 0.3rem;
  border-radius: 0.4rem;
  background: var(--my_gradient2);
  overflow: hidden;
}

.img:hover img {
  transform: scale(1.1);
  filter: brightness(1.2);
  filter: contrast(1.2);
}

.photo-gallery img {
  transition: 0.35s linear;
  border-radius: 0.4rem;
  filter: brightness(0.7);
  width: 100%;
}

/* Programme section */

.programme-section {
  padding-block: 2rem 4rem;
  background: url(/images/card-bg.jpg) center center/cover;
  background-attachment: fixed;
  position: relative;
}

.programme-section .main-heading {
  color: white;
  z-index: 2;
  position: relative;
}

.card-img {
  height: 15rem;
  overflow: hidden;
}

.programme-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #00000096;
}

.programme-section .container {
  align-items: normal;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 1 1 16rem;
  border-radius: 0.4rem;
  margin: 0.5rem;
  background-size: cover;
  z-index: 1;
  background-color: #f0f4ff;
  overflow: hidden;
}

.card img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  transition: 0.3s linear;
}

.card:hover {
  cursor: pointer;
}

.card:hover.card img {
  scale: 1.1;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1rem;
  flex: 1;
  text-align: center;
}

.card-header {
  font-size: 1.5rem;
}

.programme-section .btn {
  margin-top: 0.5rem;
  margin-inline: auto;
}

/* mission and vision */

.mission-vision-section {
  padding-block: 2rem;
}

.mission-vision-section img {
  width: min(30rem, 100%);
}

.mission-vision-section h3 {
  display: inline;
}

/* footer */

footer {
  color: #9b9b9b;
  font-weight: 400;
  line-height: 1rem;
  font-size: 1rem;
}

footer a {
  color: #9b9b9b;
  font-weight: 400;
}

.f-top {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ft-left {
  background-color: #191725;
  padding: 1.5rem;
  min-width: 10rem;
  width: 37%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.ft-left h4 {
  font-weight: 400;
  line-height: 1.4rem;
  text-transform: uppercase;
  color: var(--primary);
}

.ft-right {
  background-color: #1f1c2c;
  padding: 2rem 1.5rem 0 1.5rem;
  min-width: 20rem;
  width: 63%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.ft-right h3 {
  margin-bottom: 1.25rem;
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--primary);
  position: relative;
}

.ft-right h3::before {
  content: "";
  position: absolute;
  top: 1.6rem;
  left: 0;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: var(--primary);
}

.ft-right h3::after {
  content: "";
  position: absolute;
  top: 1.75rem;
  left: 1rem;
  width: 6rem;
  height: 0.1rem;
  border-radius: 15rem;
  background-color: gray;
}

.ft-right a {
  font-weight: 400;
  margin: 0.5rem 0;
  font-size: 1rem;
  transition: all 0.3s ease;
}

.ft-right a:hover {
  transform: translateX(0.5rem);
  color: var(--primary-light);
}

.ftr-boxes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 11rem;
  margin-bottom: 1.5rem;
}

.ftl {
  display: flex;
  justify-content: flex-start;
}

.ftl a {
  transition: all 0.5s ease;
}

.ftl a:hover {
  color: var(--primary);
}

.ftl-logo span {
  font-size: 2rem;
  color: var(--primary);
  font-weight: bold;
  margin-bottom: 1rem;
}

.ftl-icon {
  padding: 0.5rem;
  border: 1px solid gray;
  border-radius: 9px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.ftl-icon i {
  color: gray;
  transition: all 0.5s ease;
}

.ftl-icon:hover {
  border-color: #cacaca;
}

.ftl-icon:hover .fa-solid {
  color: #cacaca;
}

.ftl-text p {
  line-height: 1.3rem;
}

footer .f-bottom {
  background-color: #161421;
  color: white;
  padding: 1rem;
}

footer .f-bottom p {
  text-align: center;
  color: #b0b0b0;
  font-weight: 600;
}

/* Pages Utility Classes Begin  */

main li {
  list-style: disc;
  margin-left: 2rem;
}

.d-flex {
  display: flex !important;
  justify-content: space-between;
  margin: 0 auto;
}

.d-flex-1 {
  justify-content: space-evenly;
}

.d-flex-5 {
  margin: -2rem auto 2rem;
  align-items: flex-end;
}

.d-flex img {
  width: min(22rem, 100%);
  height: min(22rem, 100%);
  border-radius: 0.5rem;
  margin-block: 1rem;
}

.d-flex-3 img {
  width: min(30rem, 100%);
  height: min(30rem, 100%);
}

.d-flex-5 img {
  width: min(35rem, 100%);
}

.d-block {
  display: block;
  margin-inline: 1rem;
}

.os-img {
  margin: 2rem auto;
  mix-blend-mode: darken;
}

.bold {
  font-weight: bold;
}

.text-content2 {
  max-width: 65%;
  margin-right: 1rem;
}

.text-content3 {
  max-width: 34rem;
}

.text-content4 {
  max-width: 45rem;
}

.small-d-block ul {
  margin-bottom: 1rem;
}

.classy-header {
  margin-bottom: 1.25rem;
  font-weight: 600;
  font-size: 1.25rem;
  color: var(--primary);
  position: relative;
}

.classy-header::before {
  content: "";
  position: absolute;
  top: 1.85rem;
  left: 0.1rem;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: var(--primary);
}

.classy-header::after {
  content: "";
  position: absolute;
  top: 2rem;
  left: 1rem;
  width: 68%;
  height: 0.1rem;
  border-radius: 15rem;
  background-color: gray;
}

/* Pages Utility Classes End */

/* Pages CSS  */

.main-heading {
  position: relative;
  text-align: center;
  font-size: 1.5rem;
  width: fit-content;
  margin: 0 auto 2.5rem;
  padding: 0.2em;
  padding-top: 7rem;
}

.main-heading::before {
  content: "";
  position: absolute;
  top: 12rem;
  left: 47.75%;
  width: 2rem;
  background-color: #f0f4ff;
  height: 0.9rem;
  border-radius: 0;
  z-index: 9;
}

.small-main-heading::before {
  top: 12rem;
  left: 45%;
}

.pages-main .container {
  display: block;
}

.container p,
.text-content h2,
.container h2 {
  margin: 1rem 0;
}

.pages-footer {
  margin-top: 2rem;
}

/* Table */

.table-container {
  width: max(30rem, 90%);
  overflow-x: auto;
  padding: 0.5rem;
  margin: 0 auto;
}

table,
tbody {
  border: 2px solid #ff8a67;
  border-radius: 0.5rem;
}

table,
th,
td {
  border: 2px solid #ff8a67;
  border-collapse: collapse;
  padding: 0.5rem;
  text-align: center;
}

table {
  margin: auto;
  border-radius: 10px;
  width: 100%;
}

th {
  background: #ffcfaf;
}

td {
  background: #ffe5d0;
}

/* Donate Page  */

.donate-sub-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-block: 4rem;
}

.donate-cnt {
  display: flex;
  flex-wrap: nowrap;
  min-width: 37rem;
}

.donate-cnt h2 {
  margin-top: 0 !important;
}

.donate-cnt img {
  width: 15rem;
  border-radius: 10px;
  margin-left: 2rem;
}

.donate-classy-header {
  margin-left: 0.5rem;
}

.donate-main-heading::before {
  top: 12rem !important;
  left: 44.7% !important;
}

/* About Us Page  */

.about-main h2 {
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  color: #ff6537;
  width: fit-content;
  border-bottom: 2px solid gray;
  border-bottom-style: double;
  border-radius: 5px;
}

.about-main h3 {
  margin-left: 0.5rem;
  margin-block: 0.5rem;
  color: black;
  width: fit-content;
  border-bottom: 2px solid gray;
  border-bottom-style: dashed;
}

.d-flex-1 ul li {
  color: #ff6537;
  border-bottom: 1px solid #ff6537;
  width: fit-content;
  width: -webkit-fit-content;
}

.number-ul li {
  list-style: decimal;
}

.about-container {
  width: min(1100px, 100% - 2rem);
}

.about-main .table-container {
  width: 97.5% !important;
}

.about-main table {
  width: 100%;
}

/* Other Pages  */

.org-main h2 {
  margin-top: 1.5rem;
}

.resources-main h2 {
  margin-block: 0.5rem;
}

.resources-d-flex-1 {
  justify-content: space-evenly;
}

.resources-d-flex-1 li {
  color: #ff6537;
}

.resources-d-flex-1 li a {
  color: #ff6537;
  border-bottom: 2px solid transparent;
  transition: all 0.5s ease;
}

.resources-d-flex-1 li a:hover {
  border-bottom: 2px solid #ff6637c8;
}

.migration-main h2 {
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}

.community-main h2 {
  margin-top: 1rem !important;
}

.community-main h3 {
  margin-top: 0.5rem;
}

.contact-main h3 {
  margin-block: 1rem -1rem;
}

.policy-main .container p,
.policy-main .text-content h2,
.policy-main .container h2 {
  margin: 0;
}

.policy-main h2 {
  margin-top: 1.5rem !important;
}

/* Media Queries */

@media (max-width: 1230px) {
  .about-section .container {
    justify-content: center;
  }

  .text-content,
  .index-text-content {
    max-width: 58%;
  }

  .text-content {
    max-width: 45rem;
  }

  .donate-sub-container {
    justify-content: center;
  }

  .donate-cnt {
    margin: 1rem 0;
  }
}

@media (max-width: 1185px) {
  .container {
    justify-content: center;
  }

  header>.container {
    justify-content: space-between;
  }

  .text-content {
    max-width: 95%;
  }

  .d-block p,
  .d-block ul {
    max-width: 95%;
  }

  .resources-d-flex-1 {
    justify-content: space-evenly !important;
  }
}

@media (max-width: 1120px) {
  .text-content2 {
    max-width: 100%;
    margin-right: 0rem;
  }

  .text-content3 {
    max-width: max(100%, 34rem);
  }

  .d-flex {
    justify-content: center;
  }

  .resources-d-flex-1 {
    justify-content: space-evenly !important;
  }
}

@media (max-width: 1000px) {
  .dfc {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    margin-left: 5vw;
  }

  .footer-logo {
    margin-bottom: 1rem;
  }

  header .container {
    justify-content: space-between;
  }

  .donate-box {
    display: none;
  }

  .menu-btn,
  .db {
    display: block;
  }

  .db>a {
    margin: 0 auto;
    margin-top: -4rem;
  }

  header nav {
    position: fixed;
    background: var(--my_gradient);
    top: 0;
    right: -100%;
    padding: 4rem 1rem;
    height: 100vh;
    transition: 0.4s;
  }

  header.active nav {
    right: 0;
  }

  .main-menu {
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
  }

  .main-menu>li>a {
    padding: 0.5rem 0.5rem;
    margin-inline: 0.4rem;
  }

  .main-menu i {
    top: 0.95rem;
    right: 7.7rem;
  }

  .sub-menu {
    position: relative;
    pointer-events: none;
    opacity: 0;
    height: 0;
    left: 0;
    background-color: rgb(118 116 116 / 12%);
    border-radius: 0 0 0.4rem 0.4rem;
    transform: translateY(0);
    transition: 0.3s ease-in;
  }

  .sub-menu a {
    padding: 1rem 0.75rem 0.75rem 0.75rem;
  }

  .sub-menu.show {
    opacity: 1;
    pointer-events: all;
    height: 16rem;
  }

  .text-content {
    max-width: 100%;
    margin: 0 auto;
  }

  .container {
    padding-inline: 0.2rem;
  }
}

@media (max-width: 800px) {
  .f-top {
    flex-direction: column;
  }

  .ft-left {
    width: 100%;
    padding-block: 2.5rem;
  }

  .ft-right {
    width: 100%;
    justify-content: space-around;
  }
}

@media (max-width: 640px) {
  .photo-gallery .img {
    width: 70vw;
  }

  .donate-sub-container {
    justify-content: center;
    margin-block: 2rem;
  }

  .donate-cnt {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    min-width: 22rem;
  }

  .donate-text-content {
    margin-left: 2rem;
    min-width: 20rem;
  }

  .donate-cnt img {
    margin-left: 2.5rem;
    margin-top: 1rem;
  }
}

@media (max-width: 550px) {
  .ft-right {
    justify-content: space-around;
  }

  .pages-main h2 {
    font-size: 2rem;
  }

  .hamburger-menu {
    margin: 0.25rem;
  }

  header h1 {
    font-size: 1.8em;
  }

  .logo {
    margin-left: 0px;
  }

  .main-heading {
    margin: 0 auto 2.5rem;
  }

  .main-heading::before,
  .index-main-heading::before {
    top: 4.1rem;
    left: 47.75%;
    background-color: #f0f4ff;
  }

  .mh-1::before {
    background-color: white;
    left: 46.1%;
  }

  .mh-2::before {
    left: 46.1%;
  }

  .stylish-heading,
  .index-stylish-heading {
    font-size: 2rem;
  }

  .stylish-heading::before,
  .index-stylish-heading::before {
    top: 3.867rem;
    background-color: var(--primary-dark);
  }

  .stylish-heading::after,
  .index-stylish-heading::after {
    top: 4rem;
    background-color: rgba(185, 185, 185, 0.5);
  }

  .mh-3 h2::after {
    width: 46.1%;
    background-color: rgb(223, 223, 223);
  }

  .mh-3::before {
    top: 4.38rem;
    background-color: rgb(223, 223, 223);
    left: 57%;
  }

  .mh-4::before {
    left: 46.5%;
  }

  .photo-gallery {
    margin: 0;
    padding-bottom: 2.5rem;
  }

  .photo-gallery .img {
    width: 70vw;
  }

  .donate-main-heading::before {
    top: 11rem !important;
    left: 42.7% !important;
  }

  .stylish-heading {
    font-size: 2.5rem;
  }

  .main-heading::before {
    top: 11rem;
    left: 47.5%;
  }

  .small-main-heading::before {
    top: 11rem;
    left: 43.75%;
  }
}

@media (max-width: 500px) {
  .stylish-heading {
    font-size: 2.25rem;
  }
}

@media (max-width: 400px) {
  .main-heading::before {
    left: 46.75%;
  }

  .small-main-heading::before {
    top: 11rem;
    left: 43%;
  }

  .stylish-heading {
    font-size: 2rem;
  }

  .long-stylish-heading {
    font-size: 1.85rem !important;
  }

  .pages-main h2 {
    font-size: 1.85rem !important;
  }

  /* .pages-main .container {
    padding-inline: 0;
  } */

  .ft-right {
    justify-content: flex-start;
  }

  .ftr-boxes {
    margin-left: 1.5rem;
  }
}